a.tbl-ungu{
    background: #E493B3 ;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px ;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    
}

a.tbl-ungu:hover{
    background: center #8E7AB5 ;
    text-decoration: none;
    text-align: center;

}

.data{
    background-color: #FCC8D1;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

h3{
    text-align: center;
}

